.circle {
    width: 70vh;
    height: 70vh;

    background: linear-gradient(to bottom,#f5576c,#f093fb);
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.15);
    border-radius: 58% 42% 54% 46% / 56% 40% 60% 44%;

    // animation: circleRadius 6s infinite;

    position: absolute;
    right: 5rem;
    bottom: 10vh;
    z-index: 1;

    @media(max-width: 1300px) {
        right: 2rem;
    }

    @media(max-width: 1120px) {
        display: none;
    }

}

@keyframes circleRadius {
    0% {
        border-radius: 58% 42% 54% 46% / 56% 40% 60% 44%;
        transform: translate3d(0, 0, 0);
    }
    35% {
        border-radius: 25% 75% 78% 22% / 21% 41% 59% 79%;
        transform: translate3d(-20px, -10px, 0);
    }
    70% {
        border-radius: 37% 63% 39% 61% / 31% 50% 50% 69%;
        transform: translate3d(0, -20px, 0);
    }
    100% {
        border-radius: 58% 42% 54% 46% / 56% 40% 60% 44%;
        transform: translate3d(0, 0, 0);
    }
}
  